<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Firebrigade</span>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Nach Einsätzen suchen...">
      </label>
    </form>
    <div class="header-actions">
    </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/fireruns']"
           [class.active]="router.url==='/fireruns' || router.url==='/'">Einsätze</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/calendar']" 
           [class.active]="router.url==='/calendar'">Kalender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/profile']"
           [class.active]="router.url==='/profile'">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/settings']" 
           [class.active]="router.url==='/settings'">Einstellungen</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
