<button class="btn btn-primary" (click)="showAdd = true" type="button"><clr-icon shape="add big"></clr-icon> Einsatz anlegen</button>
<button class="btn btn-warning" (click)="reset()" type="button"><clr-icon shape="remove big"></clr-icon> Zurücksetzen</button>
<table class="table" *ngIf="showFireruns()" >
  <thead>
    <tr>
      <th class="left">Datum&nbsp;/&nbsp;Uhrzeit</th>
      <th class="left">Beschreibung</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let firerun of fireruns" >
      <td class="left" title="{{firerun.id}}">{{firerun.created | amTimeAgo}} ({{firerun.created | amDateFormat:'DD. MMM &nbsp;HH:mm:ss'}}&nbsp;Uhr)</td>
      <td class="left">{{firerun.description}}</td>
      <td>{{firerun.participators}}</td>
      <td><clr-icon shape="arrow up" (click)="addParticipant(firerun.id)"></clr-icon><clr-icon (click)="removeParticipant(firerun.id)" shape="arrow down"></clr-icon></td>
    </tr>
  </tbody>
</table>

<clr-modal [(clrModalOpen)]="showAdd">
  <h3 class="modal-title">Neuen Einsatz anlegen</h3>
  <div class="modal-body">
    <form [formGroup]="form" novalidate (ngSubmit)="add()">
      <section class="form-group">
        <label for="description">Beschreibung</label>
        <textarea formControlName="description" name="description" rows="5" cols="120" id="description" placeholder="Bitte die Einsatzbeschreibung angeben" required="true"></textarea>
      </section>
        <button type="button" class="btn btn-outline" (click)="showAdd = false">Abbrechen</button>
        <button type="submit" class="btn btn-primary">Anlegen</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>