
<div class="container">
    <div class="row">
        <div class="col-4 col-md">
            <label for="userName">Name:</label>
        </div>
        <div class="col-8 col-md">
            <input id="userName" type="text" readonly value="Naomi Dietrich" />
        </div>
        <div class="col-4 col-md">
            <label for="respirator">Atemschutz:</label>
        </div>
        <div class="col-8 col-md">
            <input id="respirator" type="checkbox" readonly disabled/>
        </div>
    </div>
</div> 